In [1]:
import pandas as pd
import os
import datetime



pd.options.display.max_rows = 500
pd.options.display.max_columns= 500
pd.options.display.expand_frame_repr=False

In [3]:
# csv파일 경로 정의

datatag = 'bikedemand'

train_data_path = 'data/%s_train.csv'%(datatag)
test_data_path  = 'data/%s_test.csv'%(datatag)

print(train_data_path)

data/bikedemand_train.csv

In [ ]:
?pd.read_excel

In [9]:
# CSV파일을 pandas dataframe으로 불러오기

df_train = pd.read_csv(train_data_path)
df_test = pd.read_csv(test_data_path)

In [10]:
# dataset 위아래로 몇줄씩만 출력하기

print(df_train.head(5))
print(df_train.tail(5))

              datetime  season  holiday  workingday  weather  temp   atemp  humidity  windspeed  casual  registered  count
0  2011-01-01 00:00:00       1        0           0        1  9.84  14.395        81        0.0       3          13     16
1  2011-01-01 01:00:00       1        0           0        1  9.02  13.635        80        0.0       8          32     40
2  2011-01-01 02:00:00       1        0           0        1  9.02  13.635        80        0.0       5          27     32
3  2011-01-01 03:00:00       1        0           0        1  9.84  14.395        75        0.0       3          10     13
4  2011-01-01 04:00:00       1        0           0        1  9.84  14.395        75        0.0       0           1      1
                  datetime  season  holiday  workingday  weather   temp   atemp  humidity  windspeed  casual  registered  count
10881  2012-12-19 19:00:00       4        0           1        1  15.58  19.695        50    26.0027       7         329    336
10882  2012-12-19 20:00:00       4        0           1        1  14.76  17.425        57    15.0013      10         231    241
10883  2012-12-19 21:00:00       4        0           1        1  13.94  15.910        61    15.0013       4         164    168
10884  2012-12-19 22:00:00       4        0           1        1  13.94  17.425        61     6.0032      12         117    129
10885  2012-12-19 23:00:00       4        0           1        1  13.12  16.665        66     8.9981       4          84     88

In [12]:
## 특정컬럼 데이터만 출력하기

print(df_train[['datetime', 'holiday','season']].head(5))


print(df_train[['holiday','season']].head(5))


print(df_train['holiday'].head(5))




print(df_train.tail(5)[['holiday','season']])

              datetime  holiday  season
0  2011-01-01 00:00:00        0       1
1  2011-01-01 01:00:00        0       1
2  2011-01-01 02:00:00        0       1
3  2011-01-01 03:00:00        0       1
4  2011-01-01 04:00:00        0       1
   holiday  season
0        0       1
1        0       1
2        0       1
3        0       1
4        0       1
0    0
1    0
2    0
3    0
4    0
Name: holiday, dtype: int64
       holiday  season
10881        0       4
10882        0       4
10883        0       4
10884        0       4
10885        0       4

In [17]:
# dataset numeric 컬럼 한정 모양 살펴보기

df_train_describe = df_train.describe()
df_test_describe = df_test.describe()

print(df_train_describe)
print(df_test_describe)

             season       holiday    workingday       weather         temp         atemp      humidity     windspeed        casual    registered         count
count  10886.000000  10886.000000  10886.000000  10886.000000  10886.00000  10886.000000  10886.000000  10886.000000  10886.000000  10886.000000  10886.000000
mean       2.506614      0.028569      0.680875      1.418427     20.23086     23.655084     61.886460     12.799395     36.021955    155.552177    191.574132
std        1.116174      0.166599      0.466159      0.633839      7.79159      8.474601     19.245033      8.164537     49.960477    151.039033    181.144454
min        1.000000      0.000000      0.000000      1.000000      0.82000      0.760000      0.000000      0.000000      0.000000      0.000000      1.000000
25%        2.000000      0.000000      0.000000      1.000000     13.94000     16.665000     47.000000      7.001500      4.000000     36.000000     42.000000
50%        3.000000      0.000000      1.000000      1.000000     20.50000     24.240000     62.000000     12.998000     17.000000    118.000000    145.000000
75%        4.000000      0.000000      1.000000      2.000000     26.24000     31.060000     77.000000     16.997900     49.000000    222.000000    284.000000
max        4.000000      1.000000      1.000000      4.000000     41.00000     45.455000    100.000000     56.996900    367.000000    886.000000    977.000000
            season      holiday   workingday      weather         temp        atemp     humidity    windspeed
count  6493.000000  6493.000000  6493.000000  6493.000000  6493.000000  6493.000000  6493.000000  6493.000000
mean      2.493300     0.029108     0.685815     1.436778    20.620607    24.012865    64.125212    12.631157
std       1.091258     0.168123     0.464226     0.648390     8.059583     8.782741    19.293391     8.250151
min       1.000000     0.000000     0.000000     1.000000     0.820000     0.000000    16.000000     0.000000
25%       2.000000     0.000000     0.000000     1.000000    13.940000    16.665000    49.000000     7.001500
50%       3.000000     0.000000     1.000000     1.000000    21.320000    25.000000    65.000000    11.001400
75%       3.000000     0.000000     1.000000     2.000000    27.060000    31.060000    81.000000    16.997900
max       4.000000     1.000000     1.000000     4.000000    40.180000    50.000000   100.000000    55.998600

0        0
1        0
2        0
3        0
4        0
        ..
10881    0
10882    0
10883    0
10884    0
10885    0
Name: holiday, Length: 10886, dtype: int64

In [23]:
## For loop 으로 한줄한줄씩 출력하기


# .values : dataframe을 단순 numpy 자료형으로 변환

start_time=datetime.datetime.now()

for eachrow in df_train.head(50).values:
    
    pass


#     print(type(eachrow), eachrow)
#     print(type(eachrow.tolist()), eachrow.tolist())
#     print('')
    

print(datetime.datetime.now()-start_time)

0:00:00.003381
0:00:00.327103

In [28]:
# 조건문 직접 구현하기 + enumerate

for eachrow in df_train.head(10).values:
    if eachrow[5] > 0 and eachrow[5] < 10:
        print(eachrow)
    
print('----------------------------')

for i, eachrow in enumerate(df_train.head(10).values):
    
    print(eachrow)
    
    # ['2011-01-01 00:00:00' 1 0 0 1 9.84 14.395 81 0.0 3 13 16]
    if eachrow[5] > 0 and eachrow[5] < 10:
        print(i, eachrow)

['2011-01-01 00:00:00' 1 0 0 1 9.84 14.395 81 0.0 3 13 16]
['2011-01-01 01:00:00' 1 0 0 1 9.02 13.635 80 0.0 8 32 40]
['2011-01-01 02:00:00' 1 0 0 1 9.02 13.635 80 0.0 5 27 32]
['2011-01-01 03:00:00' 1 0 0 1 9.84 14.395 75 0.0 3 10 13]
['2011-01-01 04:00:00' 1 0 0 1 9.84 14.395 75 0.0 0 1 1]
['2011-01-01 05:00:00' 1 0 0 2 9.84 12.88 75 6.0032 0 1 1]
['2011-01-01 06:00:00' 1 0 0 1 9.02 13.635 80 0.0 2 0 2]
['2011-01-01 07:00:00' 1 0 0 1 8.2 12.88 86 0.0 1 2 3]
['2011-01-01 08:00:00' 1 0 0 1 9.84 14.395 75 0.0 1 7 8]
----------------------------
['2011-01-01 00:00:00' 1 0 0 1 9.84 14.395 81 0.0 3 13 16]
0 ['2011-01-01 00:00:00' 1 0 0 1 9.84 14.395 81 0.0 3 13 16]
['2011-01-01 01:00:00' 1 0 0 1 9.02 13.635 80 0.0 8 32 40]
1 ['2011-01-01 01:00:00' 1 0 0 1 9.02 13.635 80 0.0 8 32 40]
['2011-01-01 02:00:00' 1 0 0 1 9.02 13.635 80 0.0 5 27 32]
2 ['2011-01-01 02:00:00' 1 0 0 1 9.02 13.635 80 0.0 5 27 32]
['2011-01-01 03:00:00' 1 0 0 1 9.84 14.395 75 0.0 3 10 13]
3 ['2011-01-01 03:00:00' 1 0 0 1 9.84 14.395 75 0.0 3 10 13]
['2011-01-01 04:00:00' 1 0 0 1 9.84 14.395 75 0.0 0 1 1]
4 ['2011-01-01 04:00:00' 1 0 0 1 9.84 14.395 75 0.0 0 1 1]
['2011-01-01 05:00:00' 1 0 0 2 9.84 12.88 75 6.0032 0 1 1]
5 ['2011-01-01 05:00:00' 1 0 0 2 9.84 12.88 75 6.0032 0 1 1]
['2011-01-01 06:00:00' 1 0 0 1 9.02 13.635 80 0.0 2 0 2]
6 ['2011-01-01 06:00:00' 1 0 0 1 9.02 13.635 80 0.0 2 0 2]
['2011-01-01 07:00:00' 1 0 0 1 8.2 12.88 86 0.0 1 2 3]
7 ['2011-01-01 07:00:00' 1 0 0 1 8.2 12.88 86 0.0 1 2 3]
['2011-01-01 08:00:00' 1 0 0 1 9.84 14.395 75 0.0 1 7 8]
8 ['2011-01-01 08:00:00' 1 0 0 1 9.84 14.395 75 0.0 1 7 8]
['2011-01-01 09:00:00' 1 0 0 1 13.12 17.425 76 0.0 8 6 14]

In [29]:
# data filter #1 단일조건문

df_train_filterd_1 = df_train[df_train['temp']>20]
print(df_train_filterd_1)
print(df_train_filterd_1.describe())

                  datetime  season  holiday  workingday  weather   temp   atemp  humidity  windspeed  casual  registered  count
746    2011-02-14 11:00:00       1        0           1        1  21.32  25.000        23    16.9979      10          43     53
747    2011-02-14 12:00:00       1        0           1        1  22.96  26.515        22    30.0026      27          99    126
748    2011-02-14 13:00:00       1        0           1        1  23.78  27.275        19    26.0027      27          93    120
749    2011-02-14 14:00:00       1        0           1        1  24.60  29.545        15    32.9975      14          76     90
750    2011-02-14 15:00:00       1        0           1        1  22.96  26.515        21    43.9989      19          71     90
...                    ...     ...      ...         ...      ...    ...     ...       ...        ...     ...         ...    ...
10661  2012-12-10 15:00:00       4        0           1        2  20.50  24.240        87    11.0014      29         207    236
10662  2012-12-10 16:00:00       4        0           1        2  20.50  24.240        88     7.0015      37         308    345
10665  2012-12-10 19:00:00       4        0           1        1  21.32  25.000        77    19.0012      18         409    427
10668  2012-12-10 22:00:00       4        0           1        2  20.50  24.240        82    15.0013      11         115    126
10851  2012-12-18 13:00:00       4        0           1        1  20.50  24.240        42    19.0012      51         235    286

[5578 rows x 12 columns]
            season      holiday   workingday      weather         temp        atemp     humidity    windspeed       casual   registered        count
count  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000  5578.000000
mean      2.688598     0.028505     0.700968     1.398888    26.726737    30.582279    61.620832    12.528940    54.945142   193.190749   248.135891
std       0.735885     0.166425     0.457875     0.626570     4.121391     4.479246    18.871654     7.779917    58.540578   163.428912   197.864119
min       1.000000     0.000000     0.000000     1.000000    20.500000    12.120000     8.000000     0.000000     0.000000     0.000000     1.000000
25%       2.000000     0.000000     0.000000     1.000000    22.960000    26.515000    47.000000     7.001500    13.000000    73.000000    92.000000
50%       3.000000     0.000000     1.000000     1.000000    26.240000    31.060000    62.000000    11.001400    38.000000   162.000000   211.000000
75%       3.000000     0.000000     1.000000     2.000000    29.520000    33.335000    77.000000    16.997900    74.000000   264.000000   361.000000
max       4.000000     1.000000     1.000000     3.000000    41.000000    45.455000   100.000000    56.996900   367.000000   886.000000   977.000000

In [ ]:
# data filter #2 복수조건문 and


and, or 

& => and
| => or



df_train_filterd_2 = df_train[(df_train['temp']>20) & (df_train['temp']<30) ]
print(df_train_filterd_2)
print(df_train_filterd_2.describe())

In [ ]:
# data filter #3 복수조건문 or

df_train_filterd_3 = df_train[(df_train['temp']<20) | (df_train['temp']>30) ]
print(df_train_filterd_3)
print(df_train_filterd_3.describe())

In [ ]:
# data filter #4 복수조건문 and or 결합

df_train_filterd_4 = df_train[((df_train['temp']<20) | (df_train['temp']>30)) 
                              & (df_train['workingday']==0) ]
print(df_train_filterd_4)
print(df_train_filterd_4.describe())

In [41]:
# 기존 컬럼들을 가공해서 새로운 컬럼 만들기


df_train_copy = df_train.copy()

# MIN MAX 스케일링온도값 만들어주기
df_train_copy['temperature_minmax_scaled']=  (df_train_copy['temp'] - df_train_copy['temp'].min()) / (df_train_copy['temp'].max() - df_train_copy['temp'].min())

# 임의값 만들어주기
df_train_copy['custom_string'] = ''

print('최고온도', df_train_copy['temp'].max())
print('최저온도', df_train_copy['temp'].min())
print('')

# STRING FORMATTING
print('최고온도 %s'%(df_train_copy['temp'].max()))
print('최저온도 %s'%(df_train_copy['temp'].min()))
print('')


print(df_train_copy[['temp', 'temperature_minmax_scaled', 'custom_string']].head(20))



print(df_train_copy[['temp', 'temperature_minmax_scaled', 'custom_string']].sort_values(by='temperature_minmax_scaled', ascending=True))

최고온도 41.0
최저온도 0.82

최고온도 41.0
최저온도 0.82

     temp  temperature_minmax_scaled custom_string
0    9.84                   0.224490
1    9.02                   0.204082
2    9.02                   0.204082
3    9.84                   0.224490
4    9.84                   0.224490
5    9.84                   0.224490
6    9.02                   0.204082
7    8.20                   0.183673
8    9.84                   0.224490
9   13.12                   0.306122
10  15.58                   0.367347
11  14.76                   0.346939
12  17.22                   0.408163
13  18.86                   0.448980
14  18.86                   0.448980
15  18.04                   0.428571
16  17.22                   0.408163
17  18.04                   0.428571
18  17.22                   0.408163
19  17.22                   0.408163
       temp  temperature_minmax_scaled custom_string
5499   0.82                   0.000000
5495   0.82                   0.000000
5501   0.82                   0.000000
5500   0.82                   0.000000
5498   0.82                   0.000000
...     ...                        ...           ...
8309  39.36                   0.959184
8308  39.36                   0.959184
8307  39.36                   0.959184
8310  39.36                   0.959184
8311  41.00                   1.000000

[10886 rows x 3 columns]